.btn {
    border: none;
    background-color:transparent;
    border: 1px solid #d733d7;
    padding: 10px;
    border-radius: 10px;
    color: #d733d7;
    font-weight: 600;
    font-size: 1.01rem;
}
.ctrl-container {
    z-index: 9999;
}

ul.menu{
    z-index: 9999;

    list-style: none;
    padding-left: 0;
    margin: auto;
    width: 400px;
    position: absolute;
    top: 30%;
    left: calc(50% - 200px);
    li {
        width: 100%;
        display: block;
        margin: 10px;
        button {
            width: 200px;
            margin: auto;
            display: block;
        }
    }
}

.gameover-menu {
    width: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: 40%;
    text-align: center;

    btn {
        display: block;
        margin: auto;
        width: 100px;
        margin-top: 10px;
    }
}

#tutorial {
    display: none;
    position: absolute;
    margin: auto;
    left: 3%;
    height: 90%;
    top: 3%;
    width: 90%;
    background-color: transparent;

    color: rgba(255,255,255,0.8);
    padding: 2%;
.tutorial-intro {
    text-align: center;
    margin: 2rem 0;
}
    ul {
        li {
            list-style: none;
            display: flex;
            margin-bottom: 10px;
            align-items: center;
        }
    }
    canvas {
        border: 1px solid lime;
        margin: 0 20px;
    }
}

#esc-tutorial {
  margin: 120px auto 0 auto;
    width: 200px;
    display: block;
}